<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

{% seo %}

</head>

<body>

<header class="navbar">

<div class="container nav-container">

<a href="{{ '/' | relative_url }}" class="logo">

Laheeq<span>Syed</span>

</a>

<nav>

<ul>

<li>

<a href="{{ '/' | relative_url }}">

Home

</a>

</li>

<li>

<a href="{{ '/about.html' | relative_url }}">

About

</a>

</li>

<li>

<a href="{{ '/projects.html' | relative_url }}">

Projects

</a>

</li>

<li>

<a href="{{ '/resume.pdf' | relative_url }}">

Resume

</a>

</li>

<li>

<a target="_blank"

href="https://github.com/SyedLaheeq">

GitHub

</a>

</li>

</ul>

</nav>

</div>

</header>

<main>

{{ content }}

</main>

<footer>

<div class="container footer-content">

<p>

© 2026 Laheeq Syed

</p>

<div class="socials">

<a href="mailto:syedlaheeq999@gmail.com">

<i class="fa-solid fa-envelope"></i>

</a>

<a target="_blank"

href="https://github.com/SyedLaheeq">

<i class="fa-brands fa-github"></i>

</a>

<a target="_blank"

href="https://linkedin.com">

<i class="fa-brands fa-linkedin"></i>

</a>

</div>

</div>

</footer>

<script src="{{ '/assets/script.js' | relative_url }}"></script>

</body>

</html>
